<!doctype html>
<html lang="ko">
    <head>
        <link rel="import" href="../static/common/common.html">
    </head>
    <body>
    <!--    <p th:text="${ControllerTest}">message</p>-->

        <div>메인이지롱</div>
        <button class="button">버튼</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
    </body>
</html>