<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- 나중에 공통으로 뺄 임포트영역-->
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>메인</title>

        <!--test CSS-->
        <style>
            .height300 { height : 300px; }
            .back-color{ background-color : red;}
        </style>
    </head>
    <body>
        <div id="wrap" style="width: 1280px; margin:0 auto;">
            <!--헤더-->
            <div class="row">
                <div class="col-md-12">
                    header
                </div>
            </div>
            <!--컨테이너-->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6" style="background-color:red"> 1</div>
                        <div class="col-md-6" style="background-color:blue">2</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="background-color:green">3</div>
                        <div class="col-md-6" style="background-color:yellow">4</div>
                    </div>
                </div>
            </div>
            <!--푸터-->
            <div class="row">
                <div class="col-md-12">
                    footer
                </div>
            </div>
        </div>
    </body>
</html>